---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer-deployment
  namespace: streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - name: producer
        image: local/producer:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: bitnami-kafka:9092
      restartPolicy: Always